@import 'tailwindcss';
@plugin '@tailwindcss/typography';




  .container{
    min-height: 100vh;
    padding: 4rem 2rem;
  }

  .titulos{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-red-700)
  }