---
import CardDonantes from "./ui/CardDonantes.astro";
---

<main class="container">
    <h2 class="titulos shadow-xl w-max px-6 py-2 mx-auto rounded-md" id="donantes">
        Donantes
    </h2>
   <div class="grid grid-cols-4 gap-4 mt-10">
    <CardDonantes />
    <CardDonantes />
    <CardDonantes />
    <CardDonantes />
   </div>
</main>
