<footer class="w-full bg-slate-700 text-slate-100 p-4">
    <div class="w-full grid grid-cols-3 justify-center items-center">
        <div class="mx-auto">
            <p>Donantes</p>
            <p>Sobre Nosotros</p>
            <p>Testimonios</p>
        </div>
        <div class="mx-auto">
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Youtube</p>
        </div>
        <div class="mx-auto">
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Youtube</p>
        </div>
    </div>
    <div class="text-center p-2">
        <p class="mt-10">Todos los derechos reservados</p>
    </div>
</footer>
