<header class="w-full  text-fuchsia-950">
    <nav class="flex justify-between px-8 py-2">
        <p class="text-sky-700 text-2xl font-black">Ayuda <span class="text-red-700 text-3xl font-black">a Cuba</span></p>
        <div class="flex gap-4">
            <a href="#sobrenosotros">Sobre Nosotros</a>
            <a href="#donantes">Donantes</a>
            <a href="#testimonios">Testimonios</a>
            <a href="#comoparticipar">Como Participar</a>
        </div>
    </nav>
</header>

<style>
    a {
       font-size: 1.2rem;
       font-weight: 700;
    }
    a:hover{
        text-decoration: underline;
    }
</style>
