<header class="w-full p-4 max-w-3xl mx-auto bg-red-600">
    <nav class="flex justify-between absolute top-0">
        <span>Logo</span>
       <div class="flex gap-4">
        <a href="">Sobre Nosotros</a>
        <a href="">Donantes</a>
        <a href="">Testimonios</a>
        <a href="">Como Participar</a>
       </div>
    </nav>
</header>
