<main class="w-full min-h-screen">
    <div class="h-screen grid grid-cols-2 gap-4 items-center">
        <figure>
            <img src="/src//assets/hero.jpg" alt="imagen de una familia comiendo" decoding="async">
           
        </figure>

        <div class="p-4 flex flex-col gap-8">
            <h1 class="text-6xl max-w-2xl text-left">
                <span class="text-sky-800 font-bold">Ayudemos a Cuba:</span> Dona
                y regala esperanza a quienes más lo necesitan
            </h1>
            <p class="text-xl">
                Cada semana, tres familias reciben alimentos gracias a
                donaciones como la tuya. Participa y sé parte del cambio.
            </p>
        </div>
    </div>
</main>



<script>
    const imagen = document.querySelector("#image-hero");

    document.addEventListener("load", () => {
        if (imagen) {
            imagen?.classList.add("hidden ");
        }
    });
</script>
