---
---

<main class="container">
    <h2
        class="titulos shadow-xl w-max px-6 py-2 mx-auto rounded-md"
        id="sobrenosotros"
    >
        Sobre Nosotros
    </h2>

    

    <div class="mt-20 max-w-2xl mx-auto text-xl">
        <p class="font-black">
            🏆.2. Cómo Funciona el Sorteo ✍️ Explicación clara y simple:
        </p>
        <ul class="text-left">
            <li>1️⃣ Donadores aportan dinero a través de la web</li>

            <li>2️⃣ Cada semana, realizamos un sorteo entre los inscritos.</li>
            <li>3️⃣ Tres ganadores son seleccionados al azar.</li>
            <li>
                4️⃣ Se les contacta por WhatsApp y se les compra comida en
                tiendas online en Cuba.
            </li>
            <li>5️⃣ Publicamos pruebas de entrega en nuestra página.</li>
        </ul>
        <a
            href=""
            class="inline-block mt-10 bg-red-700 hover:bg-red-900 shadow-2xs transition duration-500 text-slate-100 px-4 py-2 rounded-full"
            >Quieres Participar?</a
        >
    </div>

   
    
    
</main>
