<main class="container">
    <h2 class="titulos shadow-xl w-max px-6 py-2 mx-auto rounded-md">
        Sobre Nosotros
    </h2>

    <div class="mt-20 max-w-2xl mx-auto">
        <p>🏆.2. Cómo Funciona el Sorteo ✍️ Explicación clara y simple:</p>
        <ul class="text-left text-xl">
            <li>1️⃣ Donadores aportan dinero a través de la web</li>

            <li>2️⃣ Cada semana, realizamos un sorteo entre los inscritos.</li>
            <li>3️⃣ Tres ganadores son seleccionados al azar.</li>
            <li>
                4️⃣ Se les contacta por WhatsApp y se les compra comida en
                tiendas online en Cuba.
            </li>
            <li>5️⃣ Publicamos pruebas de entrega en nuestra página.</li>
        </ul>
    </div>
</main>
