---
import CardTestimonios from "./ui/CardTestimonios.astro";
---

<main class="container">
    <h2 class="titulos shadow-xl w-max px-6 py-2 mx-auto rounded-md">
        Testimonios
    </h2>
    <div class="w-full bg-yellow-500 grid grid-cols-3 mt-20 p-2">
        <CardTestimonios />
        <CardTestimonios />
        <CardTestimonios />
    </div>
</main>
