---
import CardTestimonios from "./ui/CardTestimonios.astro";
---

<main class="container ">
    <h2 class="titulos shadow-xl w-max px-6 py-2 mx-auto rounded-md" id="testimonios">
        Testimonios
    </h2>
    <div class="w-full flex mt-20 p-2 justify-evenly items-center">
        <CardTestimonios />
        <CardTestimonios />
        <CardTestimonios />
    </div>
</main>
