

<a href="#" class="hover:scale-105 transition duration-300" id="card">
    
    <img
        src="/src/assets/people.jpg"
        alt="Imagen de donante"
        decoding="async"
        class="w-[400px] rounded-2xl"
    />
    
</a>


