<div class="shadow-xl p-2 rounded-md w-64">
    
    <p class="font-bold text-2xl">Pedro Ramirez</p>
    <p class="max-w-xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio
        corrupti consectetur assumenda blanditiis similique a eligendi
        reprehenderit inventore, maiores iure dolores. Vitae quis fugit fugiat
        dolorem, aut culpa. Illo!
    </p>
</div>
