<div class="shadow-xl p-3 rounded-md w-64">
    <p class="max-w-xl">
        Gracias a esta iniciativa, pude recibir una compra de comida completa
        para mis hijos. No tengo palabras para agradecerles." – <strong>
            María, ganadora del sorteo.
        </strong>
    </p>
</div>
