<main class="container">
    <div class="flex justify-center items-center">
        <div class="grid grid-cols-2 gap-4">
            <img
                src="/src//assets/img1.jpg"
                alt="imagen de comida"
                class="h-[300px] w-[400px] object-cover"
                decoding="async"
            />
            <img
                src="/src//assets/img2.jpg"
                alt="imagen de comida"
                class="h-[300px] w-[400px] object-cover"
                decoding="async"
            />
            <img
                src="/src//assets/img3.jpg"
                alt="imagen de comida"
                class="h-[300px] w-[400px] object-cover"
                decoding="async"
            />
            <img
                src="/src//assets/img4.jpg"
                alt="imagen de comida"
                class="h-[300px] w-[400px] object-cover"
                decoding="async"
            />
        </div>
    </div>
</main>
